@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  	@apply grid w-screen h-screen text-xs bg-white;
	grid-template-columns: 12rem auto;
	grid-template-rows: repeat(2,auto);
}
.sidebar{
	grid-area: 1/1/3/2;
}
.main{
	grid-area: 1/2/5/6;
}
.btn-primary {
  @apply block focus:outline-none text-white py-2.5 px-5 rounded-md hover:shadow-lg;
  background-color: $primary;
}

.input-primary {
  @apply px-2 py-2 border-2 rounded-md border-gray-200 focus:outline-none focus:ring-1 focus:ring-pink-300 focus:border-transparent;
}

::-webkit-scrollbar {
	display: none;
}

.filters{
	@apply mb-4 leading-8 text-xs;
	.area,.type{
		em{
			@apply font-medium not-italic;
		}
		span{
			@apply p-1.5 mr-4 transition duration-300 cursor-pointer;
			&:hover,&.active{
				@apply bg-primary rounded text-white;
			}
		}
	}
}